In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
movies_data = pd.read_csv('Datasets/cleaned-movies-metainformation.csv')

In [7]:
movies_data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'id',
       'original_language', 'original_title', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [23]:
movies_data = movies_data[['production_companies', 'revenue']]

In [9]:
movies_data

                                    production_companies      revenue
0         [{'name': 'Pixar Animation Studios', 'id': 3}]  373554033.0
1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...  262797249.0
2      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...          NaN
3      [{'name': 'Twentieth Century Fox Film Corporat...   81452156.0
4      [{'name': 'Sandollar Productions', 'id': 5842}...   76578911.0
...                                                  ...          ...
43981                                                 []          NaN
43982             [{'name': 'Sine Olivia', 'id': 19653}]          NaN
43983  [{'name': 'American World Pictures', 'id': 6165}]          NaN
43984               [{'name': 'Yermoliev', 'id': 88753}]          NaN
43985                                                 []          NaN

[43986 rows x 2 columns]

In [18]:
def makeColumn(series, key):
    count = 0
    col = []
    string = ""
    for lis in series:
        li = lis.strip('][').split(', ')
        for dic in li:
            di = dic.strip('}{').replace("'", '').split(':')
            if di[0] == key:
                string += di[1]
                string += ","
        col.append(string)
        string = ""
    return pd.Series(col)

In [21]:
movies_data['production_companies'] = makeColumn(movies_data['production_companies'], 'name')

<ipython-input-21-25e8f09a214a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data['production_companies'] = makeColumn(movies_data['production_companies'], 'name')

In [24]:
movies_data

                                    production_companies      revenue
0                               Pixar Animation Studios,  373554033.0
1       TriStar Pictures, Teitler Film, Interscope Co...  262797249.0
2                          Warner Bros., Lancaster Gate,          NaN
3                Twentieth Century Fox Film Corporation,   81452156.0
4            Sandollar Productions, Touchstone Pictures,   76578911.0
...                                                  ...          ...
43981                                                             NaN
43982                                       Sine Olivia,          NaN
43983                           American World Pictures,          NaN
43984                                         Yermoliev,          NaN
43985                                                             NaN

[43986 rows x 2 columns]